@import url(https://fonts.googleapis.com/css?family=VT323);

body {
	background-color: #69B0AC;
	cursor: pointer;
}

h1 {
	text-align: center;
}

h1 .en-title {
	font-family: "VT323";
}

.time-dispaly, .start-button {
	margin-top: 1%;
	margin-bottom: 3%;
	text-align: center;
	font-size: 10vw;
}

.start-button {
	border-radius: 3vw;
	background-color: #9ecdcb;
	color: white;
}

.start-button:hover {
	background-color: #cbe5e7;
}

.container-fluid {
	background-color: #effdfd; 
}

.score-band {
	margin-bottom: 3%;
	border-radius: 10vw;
	background-color: #ffffff;
	font-size: 25vw;
	text-align: center;
}

#myModal, #loginModal {
	text-align: center;
}

.modal-header {
	background-color: #9ecdcb;
	font-family: "VT323";
}

.game-canvas {
    -ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;/* IE11  */
}

.hammer-cursor {
	cursor: url("../source/hammer.png"), pointer;
}

.hammer-cursor:active {
	cursor: url("../source/hammer2.png"), pointer;
}

#loginModal i {
	color: #69B0AC;
	font-size: 20vw;
}

.freinds-scores-panel {
	width:90%;
	margin: auto;
	padding: 0;
	border: none;
	box-shadow: none;
}

.freinds-scores-panel .panel-heading {
	background-color: #9ecdcb;
	font-family: "VT323";
}

.freinds-scores-panel .panel-content {
	height: 20vw;
	overflow: scroll;

}

.freinds-scores-panel li {
	color: #777777;
	text-align: left;
}

.freinds-scores-panel li .score {
	width: 15%;
	background-color: #69B0AC;
	color: #ffffff;
}

footer {
	text-align: center;
	margin-top: 1%; 
}

.hidden {
	display: none;
}