body {
	background-color: #69B0AC;
}

h1 {
	text-align: center;
}

.container-fluid {
	background-color: white; 
}

.score-band {
	font-size: 20vw;
	text-align: center;
}

.more-info {
	height: 10%;
}

footer {
	text-align: center;
	margin-top: 1%; 
}

.hidden {
	display: none;
}